html,
body,
#root,
.App {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    --corBackground: #080808;
    --corMenu: #141413;
    --corBranco: #fff;
    --corPreto: #000;
    --corBordaMenu: #000;
    --corItemMenuAtivo: goldenrod;
    --corMenuColor: #fff;
    --corColor: #fff;
    --corTransparente: #00000000;
}

.App {
    background-color: var(--corBackground);
    color: var(--corColor);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

a,
select,
input {
    color: inherit;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background: #b78b1b;
    border-radius: 1000px;
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}
